@model WebStore.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h3>@Model.Id</h3>
    <h3>@Model.LastName</h3>
    <h3>@Model.FirstName</h3>
    <h3>@Model.Patronymic</h3>
    <h3>@Model.Age</h3>
    <a href="/Home/Employees">Назад</a>
</body>
</html>
